@import url("https:fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace !important;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.full-screen-nav-menu {
  width: 100%;
}

.ant-menu-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ant-menu-item.ant-menu-item-selected {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #74ec67, #66d280);
  color: #fff;
}

.ant-menu-item:hover {
  color: #fff !important;
}

.connect-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ff0000;
  color: #fff;
  font-size: 12px !important;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-inline: 4px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace !important ;
}

.connect-btn:hover {
  background: linear-gradient(to right, #440202, #ff0000);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.ant-drawer-content {
  background: #000000 !important;
}

.ant-drawer-close {
  color: #ffffff !important;
  font-size: 24px !important;
}

.ant-drawer-title {
  color: #ffffff !important;
  font-size: 24px !important;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000000 !important;
}

.footer-links-credits {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.footer-menu-links .ant-menu-item {
  border: none !important;
  font-weight: 700;
  padding: unset !important;
}

.footer-menu-links .ant-menu-item.ant-menu-item-selected {
  background: transparent !important;
}

.footer-menu-links .ant-menu-item:hover {
  color: #74ec67 !important;
}

.form-submit-btn {
  padding: 8px 40px !important;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  background: rgba(255, 255, 255, 0.1);
}

.form-submit-btn:hover {
  background: linear-gradient(to right, #74ec67, #66d280);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.ant-upload-wrapper
  .ant-upload-list
  .ant-upload-list-item
  .ant-upload-list-item-actions
  .anticon-delete {
  color: #ffffff !important;
}

@media screen and (max-width: 768px) {
  .entire-navbardiv {
    display: none !important;
  }
}

.gutter-row {
  margin: 25px 0px;
}

.col-main-div {
  background-color: #000000 !important;
  display: flex;
  justify-content: center;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.card-footer-arrows {
  display: flex;
  justify-content: space-between;
}

.publisher-wallet-address-div {
  display: flex;
}

.publisher-wallet-address {
  font-size: 12px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.published-date{
  font-size: 12px;
}

.ant-card-body {
  padding: 24px 24px 4px 24px !important;
}

.avatar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.display-page-image {
  display: flex;
  justify-content: flex-end;
}

.display-page-header-row {
  align-items: center;
}

.post-row {
  margin-top: 25px;
}

.display-page-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/title-bg-image.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaked-doc-col h2 {
  color: #ffffff;
  font-size: 25px;
}

.leaked-doc-col {
  padding-bottom: 32px;
}

.post-col {
  padding-bottom: 32px;
}

.post-col .post-text {
  text-align: justify;
}

.post-rating-col {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.post-rater {
  position: absolute;
  top: 250px;
}

.file-list-com .ant-list-item-meta {
  align-items: center !important;
}

.file-list-com .ant-list-item-meta .ant-list-item-meta-title a {
  color: #ffffff !important;
}

.file-list-com .ant-list-item-meta .ant-list-item-meta-title a:hover {
  color: #74ec67 !important;
}

.ant-menu-item {
  background-color: transparent !important;
}

.avatar-div .ant-avatar {
  width: 35px !important;
  height: 35px !important;
}

.search-input .ant-input {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.search-input .ant-input-search .ant-input:focus,
.search-input .ant-input-search .ant-input:hover {
  border-color: #66d280 !important;
}

.search-input .ant-btn-primary {
  background-color: #000000 !important;
  border-color: #ffffff !important;
}

.search-input .ant-btn-primary:hover {
  background-color: #66d280 !important;
  border-color: #66d280 !important;
}

.search-input .ant-input::placeholder {
  color: #ffffff !important;
}

.submit-page-form label {
  color: #ffffff !important;
  text-transform: capitalize;
}

.ant-upload-hint {
  color: #ffffff !important;
}

.ant-upload-text {
  color: #ffffff !important;
}

.form-submit-btn-item {
  display: flex;
  justify-content: center;
}

.submit-page-form .ant-select-open .ant-select-selection-item {
  color: rgba(225, 255, 255, 0.5) !important;
}

.submit-page-form .ant-select-selector {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.submit-page-form .ant-select-selector {
  border-color: #ffffff !important;
}

.submit-page-form .ant-select-selector:hover,
.submit-page-form .ant-select-selector:focus {
  border-color: #66d280 !important;
}

.ant-select-dropdown {
  background-color: #000000 !important;
}

.ant-select-dropdown .ant-select-item {
  color: #ffffff !important;
}

.submit-page-form .ant-input {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.submit-page-form .ant-input::placeholder {
  color: #ffffff3a !important;
}

.submit-page-form .ant-input:hover,
.submit-page-form .ant-input:focus {
  border-color: #66d280 !important;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #66d280 !important;
}

.submit-page-form
  .ant-upload-wrapper
  .ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: #66d280 !important;
}

.submit-page-form .ant-upload-list.ant-upload-list-text {
  color: #ffffff !important;
}

.form-submit-btn:active,
.form-submit-btn:focus {
  background-color: #74ec67 !important;
}

.submit-page-form .ant-btn-primary:not(:disabled):hover {
  background-color: #74ec67 !important;
}

.submit-page-form
  .ant-upload-wrapper
  .ant-upload-list
  .ant-upload-list-item
  .ant-upload-icon
  .anticon {
  color: #ffffff !important;
}

.submit-page-form .ant-select .ant-select-arrow {
  color: #ffffff !important;
}
@media screen and (max-width: 767px) {
  .logo-col {
    width: 100%;
    justify-content: center;
  }
  .display-page-image {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile-entire-navbar {
    display: none !important;
  }
  .submit-page-main-div {
    margin-top: 20px;
  }
}

@media screen and (max-width: 501px) {
  .footer-menu-links {
    flex-direction: column;
    text-align: center !important;
  }
}

/* for antd customize */
.ant-tabs {
  color: white;
}
.ant-tabs-nav-more .anticon svg {
  color: white;
  font-size: 30px;
  margin-right: 0;
  text-align: right;
}
.ant-tabs .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs .ant-tabs-tab {
  padding: 6px 20px;
  margin-left: 10px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  border-top: 1px solid #1677ff;
  border-left: 1px solid #1677ff;
  border-right: 1px solid #1677ff;
  border-radius: 7px 7px 0 0;
}

.ant-pagination .ant-pagination-options-quick-jumper input,
.ant-pagination .ant-pagination-item-active,
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: white;
  background: #272727;
  border: none;
}

.ant-pagination .ant-pagination-item a,
.ant-pagination .ant-pagination-item a:hover {
  color: white;
}

.ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: rgb(255, 255, 255);
}

/* for map */
.marker {
  stroke: #ffffff;
  stroke-width: 0.1px;
  fill: #ff0000;
  fill-opacity: 0.75;
  transition: all 0.2s ease-in-out;
}
.marker:hover {
  fill-opacity: 1;
  cursor: pointer;
}

.marks .feature {
  fill: #001f18;
}

.text-label{
  fill: #ffffff;
}

.ant-card-meta-title{
  color: #74ec67 !important;
}

.ant-card-meta-description{
  color: #878787 !important;
}

.leak-card{
  margin-top: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  border: 1px solid #ff0000 !important;
}


.leak-card > .ant-card-cover{
  margin-top: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

span.ant-select-selection-placeholder {
  color: #424444 !important;
}

.site-tagline{
  margin: 50px 0px 10px 0px;
  text-align: center;
  color: #74ec67 !important;
}