@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace !important;
}

.full-screen-nav-menu {
  width: 100%;
}

.ant-menu-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ant-menu-item.ant-menu-item-selected {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #74ec67, #66d280);
  color: #fff;
}

.ant-menu-item:hover {
  color: #fff !important;
}

.connect-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 12px !important;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-inline: 4px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace !important ;
}

.connect-btn:hover {
  background: linear-gradient(to right, #74ec67, #66d280);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.ant-drawer-content {
  background: #000000 !important;
}

.ant-drawer-close {
  color: #ffffff !important;
  font-size: 24px !important;
}

.ant-drawer-title {
  color: #ffffff !important;
  font-size: 24px !important;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000000 !important;
}

.footer-links-credits {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.footer-menu-links .ant-menu-item {
  border: none !important;
  font-weight: 700;
  padding: unset !important;
}

.footer-menu-links .ant-menu-item.ant-menu-item-selected {
  background: transparent !important;
}

.footer-menu-links .ant-menu-item:hover {
  color: #74ec67 !important;
}

@media screen and (max-width: 768px) {
  .entire-navbardiv {
    display: none !important;
  }
}

.gutter-row {
  margin: 25px 0px;
}

.col-main-div {
  background-color: #000000 !important;
  display: flex;
  justify-content: center;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.card-footer-arrows {
  display: flex;
  justify-content: space-between;
}

.publisher-wallet-address-div {
  display: flex;
}

.publisher-wallet-address {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-card-body {
  padding: 24px 24px 4px 24px !important;
}

.avatar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.display-page-image {
  display: flex;
  justify-content: flex-end;
}

.display-page-header-row {
  align-items: center;
}

.post-row {
  margin-top: 25px;
}

.display-page-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leaked-doc-col h2 {
  color: #ffffff;
  font-size: 25px;
}

.post-col .post-text {
  text-align: justify;
}

.post-rating-col {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.post-rater {
  position: absolute;
  top: 250px;
}

@media screen and (max-width: 767px) {
  .logo-col {
    width: 100%;
    justify-content: center;
  }
  .display-page-image {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile-entire-navbar {
    display: none !important;
  }
}
