@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace !important;
}

.full-screen-nav-menu {
  width: 100%;
}

.ant-menu-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ant-menu-item.ant-menu-item-selected {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #74ec67, #66d280);
  color: #fff;
}

.ant-menu-item:hover {
  color: #fff !important;
}

.connect-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 12px !important;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-inline: 4px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace !important ;
}

.connect-btn:hover {
  background: linear-gradient(to right, #74ec67, #66d280);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.ant-drawer-content {
  background: #000000 !important;
}

.ant-drawer-close {
  color: #ffffff !important;
  font-size: 24px !important;
}

.ant-drawer-title {
  color: #ffffff !important;
  font-size: 24px !important;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000000 !important;
}

.footer-links-credits {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.footer-menu-links .ant-menu-item {
  border: none !important;
  font-weight: 700;
  padding: unset !important;
}

.footer-menu-links .ant-menu-item.ant-menu-item-selected {
  background: transparent !important;
}

.footer-menu-links .ant-menu-item:hover {
  color: #74ec67 !important;
}

@media screen and (max-width: 768px) {
  .entire-navbardiv {
    display: none !important;
  }
  .logo-col {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .mobile-entire-navbar {
    display: none !important;
  }
}
